html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

section {
  padding: 94px 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-right__list, .address__list, .works__list, .filtration__list, .header-contact, .site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-right__link, .address__link, .footer-left__logo, .work-overlay__link, .header-contact__link, .site-nav__link, .site-nav__logo {
  text-decoration: none;
}

.form-footer__button, .filtration__button {
  border-radius: 4px;
  border-width: 0;
}

.footer-container, .portfolio-container, .header-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-left__logo, .site-nav__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-right__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.footer-right__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__logo {
  margin-right: 92px;
  color: #000000;
}

.site-nav__span {
  color: #2196F3;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
  position: relative;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #2196F3;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  width: 100%;
}

.header-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contact__item:not(:first-child) {
  margin-left: 50px;
}

.header-contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196F3;
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.filtration__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.filtration__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}
.filtration__button:hover, .filtration__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filtration__button--current {
  background-color: #2196F3;
  color: #FFFFFF;
}

.filtration__item:not(:first-child) {
  margin-left: 8px;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.works-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 404px;
  max-width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.works-list__item:nth-child(3n) {
  margin-right: 0;
}
.works-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work-overlay__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.work-overlay__link:hover, .work-overlay__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-description {
  position: relative;
  overflow: hidden;
}

.work-overlay__description {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 1; */
  transform: translateY(101%);
}
.work-overlay:hover .work-overlay__description, .work-overlay:focus .work-overlay__description {
  transform: translateY(0);
}

.work-overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.work-cards {
  padding: 20px 24px;
}

.work-cards__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-cards__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left__logo {
  margin-bottom: 20px;
  display: block;
  color: #FFFFFF;
}

.footer-left__span {
  color: #2196F3;
}

.address__item:not(last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  color: #FFFFFF;
  line-height: 1.71;
  font-style: normal;
}

.address__link--add {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.address__link--add:hover, .address__link--add:focus {
  color: #2196F3;
}

.footer-right__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}

.footer-right__list {
  display: flex;
}

.footer-right__item:not(:last-child) {
  margin-right: 10px;
}

.footer-right__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-right__link:hover, .footer-right__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.footer-right__icon {
  fill: #FFFFFF;
}

.form-footer {
  display: flex;
}

.footer-subscribe__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-footer__input {
  transition: #ECECEC 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 358px;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: #FFFFFF;
}
.form-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.15;
}

.form-footer__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin: 0;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
  margin-left: 12px;
}
.form-footer__button:hover, .form-footer__button:focus {
  background-color: #188CE8;
}
.form-footer__button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/icons/send.svg);
}/*# sourceMappingURL=portfolio.css.map */