html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $white-color;
    color: $primary-text-color;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

section {
    padding: 94px 0;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

%list {
    margin: 0;
    padding: 0;

    list-style: none;
}

%link {
    text-decoration: none;
}

%button {
    border-radius: 4px;
    border-width: 0;

    // transition: background-color 250ms var(--timing-function),
    // color 250ms var(--timing-function),
    // box-shadow 250ms var(--timing-function);
}

%container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

%hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%title {
    margin-bottom: 50px;

    color: $title-text-color;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}